@model List<PropertiesDetailsModelView>
<section id="properties">
    <div class="container">
        <h2>Properties</h2>
        <div id="properties-slider" class="slick">
            @foreach(var property in Model)
            {
               @* @var imageUrl = property.image*@
                
       
                <div>
                    <a asp-action="PropptyDetails" asp-controller="Home" asp-route-propertyId="@property.PropertiesId"><img src="https://ecorp.co.in/landing-pages/godrej-woods/images/Aerial-view.jpg" alt="Property 1" /></a>
                    <div class="property-details">
                        <p class="price">Rs.@property.StartingPrice</p>
                        <span class="beds">@property.Configurations</span>
                        <span class="baths">@property.Configurations</span>
                        <span class="sqft">@property.area sqft.</span>
                        <address>
                            @property.Address
                        </address>
                    </div>
                </div>
            }
            

           @* <div>
                <img src="https://ecorp.co.in/landing-pages/godrej-woods/images/Aerial-view.jpg" alt="Property 1" />
                <div class="property-details">
                    <p class="price">Rs.3,400,000</p>
                    <span class="beds">6 beds</span>
                    <span class="baths">4 baths</span>
                    <span class="sqft">4,250 sqft.</span>
                    <address>
                        480 12th, Unit 14, San Francisco, CA
                    </address>
                </div>
            </div>*@

            @*<div>
                <img src="https://ecorp.co.in/landing-pages/godrej-woods/images/Aerial-view.jpg" alt="Property 1" />
                <div class="property-details">
                    <p class="price">Rs.3,400,000</p>
                    <span class="beds">6 beds</span>
                    <span class="baths">4 baths</span>
                    <span class="sqft">4,250 sqft.</span>
                    <address>
                        480 12th, Unit 14, San Francisco, CA
                    </address>
                </div>
            </div>

            <div>
                <img src="https://ecorp.co.in/landing-pages/godrej-woods/images/Aerial-view.jpg" alt="Property 1" />
                <div class="property-details">
                    <p class="price">Rs.3,400,000</p>
                    <span class="beds">6 beds</span>
                    <span class="baths">4 baths</span>
                    <span class="sqft">4,250 sqft.</span>
                    <address>
                        480 12th, Unit 14, San Francisco, CA
                    </address>
                </div>
            </div>

            <div>
                <img src="https://ecorp.co.in/landing-pages/godrej-woods/images/Aerial-view.jpg" alt="Property 1" />
                <div class="property-details">
                    <p class="price">Rs.3,400,000</p>
                    <span class="beds">6 beds</span>
                    <span class="baths">4 baths</span>
                    <span class="sqft">4,250 sqft.</span>
                    <address>
                        480 12th, Unit 14, San Francisco, CA
                    </address>
                </div>
            </div>*@
        </div>

        <button class="rounded">View All Property Listings</button>
    </div>
</section>

<!-- <section id="agents">
    <div class="container">
        <h2>Agents</h2>
        <p class="large-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus minima neque tempora reiciendis.</p>

        <div class="flex">
            <div class="card">
                <img src="https://onclickwebdesign.com/wp-content/uploads/person_1.jpg" alt="Realtor 1" />
                <h3>Kaiara Spencer</h3>
                <p>Real Estate Agent</p>
            </div>

            <div class="card">
                <img src="https://onclickwebdesign.com/wp-content/uploads/person_2.jpg" alt="Realtor 1" />
                <h3>Dave Simpson</h3>
                <p>Real Estate Agent</p>
            </div>

            <div class="card">
                <img src="https://onclickwebdesign.com/wp-content/uploads/person_3.jpg" alt="Realtor 1" />
                <h3>Ben Thompson</h3>
                <p>Real Estate Agent</p>
            </div>

            <div class="card">
                <img src="https://onclickwebdesign.com/wp-content/uploads/person_4.jpg" alt="Realtor 1" />
                <h3>Kyla Stewart</h3>
                <p>Real Estate Agent</p>
            </div>

            <div class="card">
                <img src="https://onclickwebdesign.com/wp-content/uploads/person_5.jpg" alt="Realtor 1" />
                <h3>Rich Moffatt</h3>
                <p>Real Estate Agent</p>
            </div>

            <div class="card">
                <img src="https://onclickwebdesign.com/wp-content/uploads/person_6.jpg" alt="Realtor 1" />
                <h3>Stuart Redman</h3>
                <p>Real Estate Agent</p>
            </div>
        </div>
    </div>
</section> -->

<section id="the-best">
    <div class="flex container">
        <img src="https://onclickwebdesign.com/wp-content/uploads/property_1.jpg" alt="Property 1" />
        <div>
            <h2>We Are the Best Real Estate Company</h2>
            <p class="large-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>Est qui eos quasi ratione nostrum excepturi id recusandae fugit omnis ullam pariatur itaque nisi voluptas impedit Quo suscipit omnis iste velit maxime.</p>
            <ul>
                <li>Placeat maxime animi minus</li>
                <li>Placeat maxime animi minus</li>
                <li>Placeat maxime animi minus</li>
                <li>Placeat maxime animi minus</li>
                <li>Placeat maxime animi minus</li>
            </ul>
            <button class="rounded">Learn More</button>
        </div>
    </div>
</section>

<!-- <section id="services">
    <div class="container">
        <h2>Services</h2>
        <div class="flex">
            <div>
                <div class="fas fa-home"></div>
                <div class="services-card-right">
                    <h3>Search Property</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                    <a href="#">Learn More</a>
                </div>
            </div>

            <div>
                <div class="fas fa-dollar-sign"></div>
                <div class="services-card-right">
                    <h3>Buy Property</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                    <a href="#">Learn More</a>
                </div>
            </div>

            <div>
                <div class="fas fa-chart-line"></div>
                <div class="services-card-right">
                    <h3>Investing</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                    <a href="#">Learn More</a>
                </div>
            </div>

            <div>
                <div class="fas fa-building"></div>
                <div class="services-card-right">
                    <h3>List a Property</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                    <a href="#">Learn More</a>
                </div>
            </div>

            <div>
                <div class="fas fa-search"></div>
                <div class="services-card-right">
                    <h3>Property Locator</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                    <a href="#">Learn More</a>
                </div>
            </div>

            <div>
                <div class="fas fa-mobile-alt"></div>
                <div class="services-card-right">
                    <h3>Stated Apps</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section id="testimonials">
    <div class="container">
        <h2>What Our Clients Are Saying</h2>
        <div id="testimonials-slider">
            <div>
                <blockquote>
                    <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nostrum vitae explicabo dolore ratione. Quia iure quod ipsa blanditiis sint nulla a nam veritatis ex eos. Dicta molestiae dolorum laudantium."</p>
                </blockquote>
                <div class="testimonials-caption">
                    <!-- <img src="https://onclickwebdesign.com/wp-content/uploads/person_7.jpg" alt="Client 7" /> -->
                    <p>Shivam Raghav</p>
                </div>
            </div>

            <div>
                <blockquote>
                    <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nostrum vitae explicabo dolore ratione. Quia iure quod ipsa blanditiis sint nulla a nam veritatis ex eos. Dicta molestiae dolorum laudantium."</p>
                </blockquote>
                <div class="testimonials-caption">
                    <!-- <img src="https://onclickwebdesign.com/wp-content/uploads/person_5.jpg" alt="Client 7" /> -->
                    <p>Paras Gupta</p>
                </div>
            </div>

            <!-- <div>
                <blockquote>
                    <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nostrum vitae explicabo dolore ratione. Quia iure quod ipsa blanditiis sint nulla a nam veritatis ex eos. Dicta molestiae dolorum laudantium."</p>
                </blockquote>
                <div class="testimonials-caption">
                    <img src="https://onclickwebdesign.com/wp-content/uploads/person_8.jpg" alt="Client 7" />
                    <p>Fran Goldsmith</p>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <h2>Contact Us</h2>

        <div class="flex">
            <div id="form-container">
                <h3>Contact Form</h3>
                <form asp-action="ContactUs" asp-controller="Home">
                    <label>Name</label>
                    <input type="text" id="name" />

                    <label for="email">Email</label>
                    <input type="text" id="email" />

                    <label for="subject">Subject</label>
                    <input type="text" id="subject" />

                    <label for="message">Message</label>
                    <textarea id="message">Write your message here..</textarea>

                    <button class="rounded">Send Message</button>
                </form>
            </div>

            <div id="address-container">
                <label>Address</label>
                <address>
                    XYZ
                </address>

                <label>Phone</label>
                <a href="#">232-232-2323</a>

                <label>Email Address</label>
                <a href="#">ouremail@domain.com</a>
            </div>
        </div>
    </div>
</section>